body { background: #74b39b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 34px; display: flex; }
.block-router-0 { color: #955424; font-size: 13px; margin-bottom: 5px; }
.block-email-1 { color: #d7e5ad; font-size: 16px; margin-bottom: 5px; }
.block-cluster-2 { color: #6715a0; font-size: 21px; margin-bottom: 5px; }
.block-email-3 { color: #9047da; font-size: 19px; margin-bottom: 5px; }
.block-session-4 { color: #2efe31; font-size: 14px; margin-bottom: 5px; }
.block-cluster-5 { color: #212a7; font-size: 19px; margin-bottom: 5px; }
.block-uploader-6 { color: #e63f16; font-size: 12px; margin-bottom: 5px; }
.block-payment-7 { color: #96cbc2; font-size: 14px; margin-bottom: 5px; }
.block-notify-8 { color: #6efa9c; font-size: 15px; margin-bottom: 5px; }
.block-helper-9 { color: #a17dcb; font-size: 16px; margin-bottom: 5px; }